.modal-content-callback {
    width: 300px;
    margin: 0 auto;
}

.modal-content-price {
    width: 890px;
    margin: 0 auto;
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    border-style: none;
    background-color: inherit;
    font-size: 18px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #CCCCCC;
    transition: color 0.2s;
}