.block-one-wrap {
    width: 480px;
    margin-bottom: 20px;
}

.block-one-logo {
    width: 100%;
    margin-bottom: 35px;
}

.block-one-title-position {
    display: flex;
    justify-content: right;
}

.block-one-title {
    display: inline-block;
    width: 320px;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
    position: relative;
}

.block-one-title::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 4px;
    background-color: #F9C71F;
    top: -10px;
    right: 0;
}

