.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.modal-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.open-modal-bg {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.close-modal-bg {
    opacity: 0;
}

.modal-window {
    position: relative;
    margin: 0 auto;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 3;
}

.open-modal-win {
    opacity: 1;
    transform: translateY(50px);
    transition: all 0.3s;
}

.close-modal-win {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.3s;
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    border-style: none;
    background-color: inherit;
    font-size: 18px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #CCCCCC;
    transition: color 0.2s;
}

.modal-close-btn:hover {
    color: #000000;
}