.block-three {
    background: linear-gradient(45deg, #0E0E28 0%, #1D1D39 100%);
}

.block-three-position-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-list {
    list-style: none;
    width: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 560px;
}

.experience-item {
    width: 30%;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.wrap-experience-img {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.experience-img{
    width: 100px;
    height: 100px;
    transition: all 0.2s;
}

.experience-img-active {
    width: 120px;
    height: 120px;
    transition: all 0.2s;
}

.experience-title {
    width: 225px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 25px;
}

.experience-paragraph {
    width: 225px;
    font-size: 14px;
    display: inline-block;
    margin: 0;
}

