.nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding-top: 15px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item-menu {
    width: 120px;
    background-color: #525695;
}

.nav-item-lang {
    width: 62px;
    background-color: #525695;
}

.btn-active {
    background-color: #FBC821;
}